# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# --- DATABASE (SQL Server LocalDB) ---
*.mdf
*.ldf

# --- USER UPLOADS (Klasörler gitsin ama içindeki resimler gitmesin) ---
ChatApp.Web/wwwroot/uploads/*
!ChatApp.Web/wwwroot/uploads/.gitkeep

ChatApp.Web/wwwroot/profile-images/*
!ChatApp.Web/wwwroot/profile-images/.gitkeep

# --- EXTRA ---
*.exe
*.dll